// Login Page

#login {
  background-image: url('assets/img/gallery/light-bg.jpg');
  background-size: 100% 100%;
  background-repeat: no-repeat;

  .login-img {
    padding: 0;
    background: #f0f0f0;
  }

  .login-btn {
    .btn.btn-outline-primary {
      &:hover {
        a {
          color: #fff;
        }
      }
    }
  }

  .recover-pass {
    button.btn.btn-primary {
      color: #fff !important;
    }
  }

  .forgot-password-option,
  .remember-me {

    a.text-decoration-none,
    .custom-control-label {
      font-size: 14px;
    }
  }

  $orange-border: #e03c24;

  .numpad {
    width: 100%;
    height: auto;
    min-height: 320px;
    display: flex;
    flex-flow: row wrap;
    border-collapse:collapse;
    cursor: pointer;
    border-left: 1px solid $orange-border;
    .button:nth-child(1), .button:nth-child(2), .button:nth-child(3)  {
      border-top: 1px solid $orange-border;
    }
    .button {
      display: flex;
      align-items: center;
      justify-content: center;
      flex: 1 0 33.3333%;
      background-color: white;
      color: $orange-border;
      border-bottom: 1px solid $orange-border;
      border-right: 1px solid $orange-border;
      
      // &:nth-of-type(11) {
      //   flex-basis: 66.6667%;
      // }
      
      &:hover {
        background-color: lightgray;
      }
    }
  }

  .padding-15-10{
    padding: 15px 10px !important;
  }

  .padding-10{
    padding: 10px;
  }

  .light-red-color-bg{
    background: #f5c99b !important;
  }

  

  
  
  .redFont{
    color: #f5c99b;
    font-weight: bold;
  }

  .light-red-color-bg{
    background: #f5c99b !important

  }

  .camelFont{
   
    font-weight: bold;
  }



}
