.custom-toggle-a1{
    padding: 0;
    text-align: left;
}

.left-wo-qr{
    width: calc(100% - 100px);
    margin-right: 20px;
}

.right-w-qr{

}

.qrcode-inside img{
    width: 100% !important
}

.btn-white-border{
    border: 1px solid white;
}

.btn-white-red{
    border: 1px solid red;
}

.btn-border-transparent{
    border: 1px solid transparent;
}

.below-add-btn {
    position: absolute;
    right: 15px;
    bottom: 0;
    font-size: 10px;
}

.d-header{
    .content-header{
        float: left;
    }
    .top-header-right{
        float: right;
        // margin-bottom: 0;
        position: absolute;
        bottom: 10px;
        right: 15px;
        font-size: 12px;
    }
}



.qrcode-border{
    border: 2px solid gray;
    display: inline-block;
    padding: 5px;
}
