<!-- Filter Datatable Options Starts -->
<img *ngIf="loader"  [src]="utility.getLoadingImage()">

<section id="filter" class="mb-3" *ngIf = "!loader" >
    <div class="row text-left">
        <div class="col-12 d-header">
            <div class="content-header" >{{title}}</div>
            <div class="btn-group top-header-right"> 
            <a *ngIf="main_node == 'tables'" class="btn btn-raised btn-primary mr-2" href="javascript:void(0)"><i
                class="ft-plus white mr-2"></i> Download QRCode </a>
            <a *ngIf="main_node == 'tables'" class="btn btn-raised btn-secondary mr-2" href="javascript:void(0)"><i
                class="ft-plus white mr-2"></i> Live Status </a>
            <a (click)="fireAddView()" class="btn btn-raised btn-warning" href="javascript:void(0)"><i
                    class="ft-plus white mr-2"></i> Add </a>
            </div>
            <span class="below-add-btn">Ctrl+a for Add</span>
        </div>
    </div>
    <hr class="m-0" />
    <div class="row dept-row" *ngIf="main_node == 'departments'">
        
        <div class="col-12 height-20">
            <p>
                <i class="fa fa-circle green"></i> Data Active - <i class="fa fa-circle red"></i> Data Inactive - <i class="ft-check-square"></i> Default Value
            </p>
        </div>
        
        <div class="col-xl-3 col-lg-6 col-md-6 col-12 dept-col height-150" *ngFor="let item of departments">
            <div class="card" [ngClass]="{'gradient-shdow-night': item.status == '0', 'gradient-blackberry': item.status == '1' }">
                <div class="card-content">
                    <div class="card-body pt-2 pb-0">
                        <div class="media">
                            <div class="media-body white text-left text-truncate" placement="top" ngbTooltip="{{item.dept_name}}">
                                <h3 class="font-large-1 mb-0" style="text-overflow: ellipsis;">{{item.dept_name}}</h3>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer c-footer-padding">
                        <div class="float-left">
                            <!-- (click)="changeDeptStatus(item)" -->
                            <a class="btn btn-border-transparent" placement="top" ngbTooltip="{{item.status == '1' ? 'Active' : 'Inactive'}}">
                                <i *ngIf="item.status == '0'" class="fa fa-circle red"></i>
                                <i *ngIf="item.status == '1'" class="fa fa-circle green"></i>
                            </a>
                            <a *ngIf="item.status == '1' && item.is_default == '1'" class="btn btn-white-border" placement="top" ngbTooltip="{{item.is_default == '1' ? 'Default' : 'Regular'}}">
                                <i *ngIf="item.is_default == '1'" class="ft-check-square white"></i>
                                <!-- <i *ngIf="item.is_default == '0'" class="ft-check white"></i> -->
                            </a>
                        </div>
                        <div class="tags float-right">
                            <a class="btn btn-white-border mr-2" (click)="fireEditView(item.id)"><i class="ft-edit white" placement="top" ngbTooltip="Edit"></i></a>
                            <a *ngIf="item.is_default == '0'" class="btn btn-white-red" (click)="delete(item)" placement="top" ngbTooltip="Delete"><i class="ft-x-circle red icon-large" ></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="row" *ngIf="main_node != 'departments'">
        
        <div class="col-sm-12" [ngStyle]="{'font-weight': 'bold'}">

            <ngx-datatable #_tablerows class="bootstrap" [headerHeight]="50" [limit]="50" [columnMode]="'force'" [footerHeight]="50"
                [rowHeight]="'auto'" [rows]="plist">
                <ngx-datatable-column name="S No">
                    <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="rowIndex" let-row="row">
                        <span>
                            {{rowIndex + 1}}
                        </span>
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Table" *ngIf="main_node == 'tables'">
                    <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="plist[rowIndex]['table_no']" let-row="row">
                        <span>
                            {{plist[rowIndex]['table_no']}}
                        </span>
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Department" *ngIf="main_node == 'tables'">
                    <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="plist[rowIndex]['rest_dept_id']" let-row="row">
                        <span>
                            {{ getDeptNameById(plist[rowIndex]['rest_dept_id'])}}
                        </span>
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Qrcode" *ngIf="main_node == 'tables'">
                    <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="plist[rowIndex]['hash_value']" let-row="row">
                        <qrcode class="qrcode-border" [qrdata]="plist[rowIndex]['hash_value']" [size]="40" [level]="'M'"></qrcode>
                    </ng-template>
                </ngx-datatable-column>
                <!-- <ngx-datatable-column name="Current Status" *ngIf="main_node == 'tables'">
                    <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="plist[rowIndex]['hash_value']" let-row="row">
                        
                    </ng-template>
                </ngx-datatable-column> -->
                <ngx-datatable-column name="Portion" *ngIf="main_node == 'portions'">
                    <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="plist[rowIndex]['poriton_name']" let-row="row">
                        <span>
                            {{plist[rowIndex]['portion_name']}}
                        </span>
                    </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column name="Category Name" *ngIf="main_node == 'categories'">
                    <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex"
                        let-value="plist[rowIndex]['category_name']" let-row="row">
                        <span>
                            {{plist[rowIndex]['category_name']}}
                        </span>
                    </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column name="Always Show" *ngIf="main_node == 'categories'">
                    <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex"
                        let-value="plist[rowIndex]['category_name']" let-row="row">
                       
                    </ng-template>
                </ngx-datatable-column>


                <!-- <ngx-datatable-column name="Always Show" *ngIf="main_node == 'categories'">
                    <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="plist[rowIndex]['poriton_name']"
                        let-row="row">
                      
                    </ng-template>
                </ngx-datatable-column> -->

                <ngx-datatable-column name="Department Name" *ngIf="main_node == 'categories'">
                    <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="plist[rowIndex]['dept_name']"
                        let-row="row">
                        <span>
                            {{plist[rowIndex]['dept_name']}}
                        </span>
                    </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column name="Show Start Time" *ngIf="main_node == 'categories'">
                    <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="plist[rowIndex]['poriton_name']"
                        let-row="row">
                        <span>
                            {{plist[rowIndex]['show_start_time']}}
                        </span>
                    </ng-template>
                </ngx-datatable-column>
                
                <ngx-datatable-column name="End Start Time" *ngIf="main_node == 'categories'">
                    <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="plist[rowIndex]['poriton_name']"
                        let-row="row">
                        <span>
                            {{plist[rowIndex]['show_end_time']}}
                        </span>
                      
                    </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column name="Total Items" *ngIf="main_node == 'categories'">
                    <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="plist[rowIndex]['poriton_name']"
                        let-row="row">
                       
                    </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column name="Status" *ngIf="main_node == 'categories'">
                    <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="plist[rowIndex]['poriton_name']"
                        let-row="row">
                        <span>
                            {{plist[rowIndex]['status']}}
                        </span>
                      
                    </ng-template>
                </ngx-datatable-column>

                
                <ngx-datatable-column name="AddOns" *ngIf="main_node == 'addons'">
                    <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="plist[rowIndex]['addons']" let-row="row">
                        <span>
                            {{plist[rowIndex]['addons']}}
                        </span>
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Value" *ngIf="main_node == 'addons'">
                    <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="plist[rowIndex]['value']" let-row="row">
                      <span>
                        {{plist[rowIndex]['value']}}
                      </span>
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Toppings" *ngIf="main_node == 'toppings'">
                    <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="plist[rowIndex]['topping_name']" let-row="row">
                        <span>
                            {{plist[rowIndex]['topping_name']}}
                        </span>
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Value" *ngIf="main_node == 'toppings'">
                    <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="plist[rowIndex]['value']" let-row="row">
                      <span>
                        {{plist[rowIndex]['value']}}
                      </span>
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Is Default" *ngIf="main_node == 'departments' || main_node == 'portions'">
                    <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="plist[rowIndex]['is_default']" let-row="row">
                        <a *ngIf="plist[rowIndex]['is_default'] == '1'" class="btn" placement="top" ngbTooltip="{{plist[rowIndex]['is_default'] == '1' ? 'Default' : 'Regular'}}">
                          <i *ngIf="plist[rowIndex]['is_default'] == '1'" class="ft-check-square"></i>
                          <!-- <i *ngIf="item.is_default == '0'" class="ft-check white"></i> -->
                        </a>
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Action">
                    <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="plist[rowIndex]['id']" let-row="row">
                        <a (click)="fireEditView(plist[rowIndex]['id'])" class="btn border-1" href="javascript:void(0)"><i class="ft-edit" placement="top" ngbTooltip="Edit"></i></a>    
                        <a (click)="delete(plist[rowIndex])" class="btn border-1" href="javascript:void(0)"><i class="ft-x-circle red" placement="top" ngbTooltip="Delete"></i></a>    
                    </ng-template>
                </ngx-datatable-column>
            </ngx-datatable>
        </div>
    </div>
</section>
<!-- Filter Datatable Options Ends -->