<div class="row text-left justify-content-md-center">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-header pb-2">
        <!-- <h4 class="card-title" id="bordered-layout-card-center">{{title}}</h4> -->
      </div>
      <div class="card-content">
        <div class="px-3">
          <form [formGroup]="aForm" class="form form-horizontal form-bordered">
            <div class="form-body">
              <h4 class="form-section"><i class="ng-tns-c1-0 {{icon}}"></i> {{title}} <small class="float-right" style="font-size: 10px">* Mandatory Information</small></h4>

              <div class="form-group row" *ngIf="type.toLowerCase() == 'add'">
                <div class=" col-md-6 border-0" *ngIf="main_node == 'departments'"  >
                  <label for="dept_name required">Department Name</label>
                </div>
                <div class="col-md-2 border-0" *ngIf="main_node == 'departments'">
                  <label for="dept_name">Active / Inactive</label>
                </div>
                <div class="col-md-5 border-0" *ngIf="main_node == 'tables'">
                  <label for="dept_name required">Table Name</label>
                </div>

                <div class="col-md-5 border-0" *ngIf="main_node == 'tables'">
                  <label for="dept_name required">Department</label>
                </div>
                <div class="col-md-5 border-0" *ngIf="main_node == 'portions'">
                  <label for="dept_name required">Partition Name</label>
                </div>
                <div class="col-md-5 border-0" *ngIf="main_node == 'addons'">
                  <label for="addons required">Addon Name</label>
                </div>
                <div class="col-md-5 border-0" *ngIf="main_node == 'addons'">
                  <label for="value required">Value</label>
                </div>
                <div class="col-md-2 border-0" *ngIf="main_node == 'departments' || main_node == 'portions'">
                  <label for="dept_name">Is Default?</label>
                </div>
                <div class=" col-xs-2 border-0" *ngIf="main_node == 'categories'">
                  <label for="category_name required">Category Name</label>
                </div>
                <div class=" col-xs-2 border-0" *ngIf="main_node == 'categories'">
                  <label for="dept_name required">Department Name</label>
                </div>
                <div class=" col-xs-2 border-0" *ngIf="main_node == 'categories'">
                  <label for="dept_name required">Parent Category</label>
                </div>
                <div class=" col-xs-2 border-0" *ngIf="main_node == 'categories'">
                  <label for="dept_name required">Always Show</label>
                </div>
                <div class=" col-xs-2 border-0" *ngIf="main_node == 'categories'">
                  <label for="dept_name required">Start Time</label>
                </div>
                <div class=" col-xs-2 border-0" *ngIf="main_node == 'categories'">
                  <label for="dept_name required">End Time</label>
                </div>
                <div class=" col-xs-2 border-0" *ngIf="main_node == 'categories'">
                  <label for="dept_name required">Item Image</label>
                </div>
                <div class=" col-xs-2 border-0" *ngIf="main_node == 'categories'">
                  <label for="dept_name required">Status</label>
                </div>
              </div>
              <div formArrayName="data" *ngFor="let row of formData.controls; let i=index">

                <div class="form-item-each border-0" [ngClass]="{'form-group row' : type.toLowerCase() == 'add' }" [formGroupName]="i">

                  <div
                    [ngClass]="{'col-md-6' : type.toLowerCase() == 'add', 'form-group row padding-top-10px' : type.toLowerCase() == 'edit' }"
                    class="border-0" *ngIf="main_node == 'departments'">
                    <label *ngIf="type.toLowerCase() == 'edit'" class="col-md-3 required label-control padding-top-5px"
                      for="dept_name">Department Name</label>
                    <input autofocus type="text" formControlName="dept_name" 
                      (keyup)="alphanumbers50($event)"
                      id="dept_name"
                      [ngClass]="{'col-md-9' : type.toLowerCase() == 'edit' }" class="dept_name required form-control"
                      placeholder="Department Name" name="dept_name">
                  </div>
                   <div
                     [ngClass]="{'col-xs-2' : type.toLowerCase() == 'add', 'form-group row padding-top-10px' : type.toLowerCase() == 'edit' }"
                     class="border-0" *ngIf="main_node == 'categories'">
                     <label *ngIf="type.toLowerCase() == 'edit'" class="col-md-3 required label-control padding-top-5px"
                       for="dept_name">Category Name</label>
                     <input autofocus type="text" formControlName="dept_name" (keyup)="alphanumbers50($event)"
                       id="dept_name" [ngClass]="{'col-md-9' : type.toLowerCase() == 'edit' }"
                       class="category_name required form-control" placeholder="Category Name" name="category_name">
                   </div>
                     <div
                     [ngClass]="{'col-xs-2' : type.toLowerCase() == 'add', 'form-group row padding-top-10px' : type.toLowerCase() == 'edit' }"
                     class="border-0" *ngIf="main_node == 'categories'">
                     <label *ngIf="type.toLowerCase() == 'edit'" class="col-md-3 required label-control padding-top-5px"
                       for="dept_name">Department Name</label>
                     <input autofocus type="text" formControlName="dept_name" (keyup)="alphanumbers50($event)"
                       id="dept_name" [ngClass]="{'col-md-9' : type.toLowerCase() == 'edit' }"
                       class="category_name required form-control" placeholder="Department" name="category_name">
                   </div>
                   <div
                     [ngClass]="{'col-xs-2' : type.toLowerCase() == 'add', 'form-group row padding-top-10px' : type.toLowerCase() == 'edit' }"
                     class="border-0" *ngIf="main_node == 'categories'">
                     <label *ngIf="type.toLowerCase() == 'edit'" class="col-md-3 required label-control padding-top-5px"
                       for="dept_name">Parent Category</label>
                     
                       <input autofocus type="text" formControlName="dept_name" (keyup)="alphanumbers50($event)"
                       id="dept_name" [ngClass]="{'col-md-9' : type.toLowerCase() == 'edit' }"
                       class="category_name required form-control" placeholder="Department" name="category_name">
                   </div>
                  <div
                    [ngClass]="{'col-md-2' : type.toLowerCase() == 'add', 'form-group row padding-top-10px' : type.toLowerCase() == 'edit' }"
                    class="border-0" *ngIf="main_node == 'departments'">
                    <label *ngIf="type.toLowerCase() == 'edit'" class="col-md-3 required label-control padding-top-5px"
                      for="dept_name">Active / Inactive</label>
                    <ui-switch [ngClass]="{'col-md-9' : type.toLowerCase() == 'edit' }" class="float-left"
                      formControlName="status"></ui-switch>
                  </div>
                  <div
                    [ngClass]="{'col-md-5' : type.toLowerCase() == 'add', 'form-group row padding-top-10px' : type.toLowerCase() == 'edit' }"
                    class="border-0" *ngIf="main_node == 'tables'">
                    <label *ngIf="type.toLowerCase() == 'edit'" class="col-md-3 required label-control padding-top-5px"
                      for="dept_name">Table Name</label>
                    <input autofocus type="text" formControlName="table_no" id="table_no" class="table_no required form-control"
                      (keyup)="alphanumbersWithSpace50($event)"
                      [ngClass]="{'col-md-9' : type.toLowerCase() == 'edit' }" placeholder="Table Name" name="table_no">
                  </div>
                  <div
                    [ngClass]="{'col-md-5' : type.toLowerCase() == 'add', 'form-group row padding-top-10px' : type.toLowerCase() == 'edit' }"
                    class="border-0" *ngIf="main_node == 'tables'">
                    <label *ngIf="type.toLowerCase() == 'edit'" class="col-md-3 required label-control padding-top-5px"
                      for="dept_name">Department</label>
                    <ng-select [items]="departments" bindLabel="dept_name" bindValue="id"
                      [ngClass]="{'col-md-9 padding-left-right-zero' : type.toLowerCase() == 'edit' }"
                      placeholder="Select department" formControlName="rest_dept_id">
                    </ng-select>
                  </div>
                  <div
                    [ngClass]="{'col-md-5' : type.toLowerCase() == 'add', 'form-group row padding-top-10px' : type.toLowerCase() == 'edit' }"
                    class="border-0" *ngIf="main_node == 'portions'">
                    <label *ngIf="type.toLowerCase() == 'edit'" class="col-md-3 required label-control padding-top-5px"
                      for="dept_name">Portion Name</label>
                    <input autofocus type="text" formControlName="portion_name" id="portion_name"
                      (keyup)="alphanumbersWithSpace50($event)"
                      [ngClass]="{'col-md-9' : type.toLowerCase() == 'edit' }"
                      class="portion_name required form-control" placeholder="Portion Name" name="portion_name">
                  </div>
                  <div
                    [ngClass]="{'col-md-5' : type.toLowerCase() == 'add', 'form-group row padding-top-10px' : type.toLowerCase() == 'edit' }"
                    class="border-0" *ngIf="main_node == 'addons'">
                    <label *ngIf="type.toLowerCase() == 'edit'" class="col-md-3 required label-control padding-top-5px"
                      for="dept_name">AddOn Name</label>
                    <input autofocus type="text" formControlName="addons" id="addons" class="addons required form-control"
                      (keyup)="alphanumbersWithSpace50($event)"
                      [ngClass]="{'col-md-9' : type.toLowerCase() == 'edit' }" placeholder="AddOn Name" name="addons">
                  </div>
                  <div
                    [ngClass]="{'col-md-5' : type.toLowerCase() == 'add', 'form-group row padding-top-10px' : type.toLowerCase() == 'edit' }"
                    class="border-0" *ngIf="main_node == 'toppings'">
                    <label *ngIf="type.toLowerCase() == 'edit'" class="col-md-3 required label-control padding-top-5px"
                      for="dept_name">Topping Name</label>
                    <input autofocus type="text" formControlName="topping_name" id="topping_name"
                      (keyup)="alphanumbersWithSpace50($event)"
                      class="topping_name required form-control"
                      [ngClass]="{'col-md-9' : type.toLowerCase() == 'edit' }" placeholder="Topping Name"
                      name="topping_name">
                  </div>
                  <div
                    [ngClass]="{'col-md-5' : type.toLowerCase() == 'add', 'form-group row padding-top-10px' : type.toLowerCase() == 'edit' }"
                    class="border-0" *ngIf="main_node == 'addons' || main_node == 'toppings'">
                    <label *ngIf="type.toLowerCase() == 'edit'" class="col-md-3 required label-control padding-top-5px"
                      for="dept_name">Value</label>
                    <input type="number" formControlName="value" id="value" class="value required form-control"
                      [ngClass]="{'col-md-9' : type.toLowerCase() == 'edit' }" placeholder="Value" name="value">
                  </div>

                  <div
                    [ngClass]="{'col-md-2' : type.toLowerCase() == 'add', 'form-group row padding-top-10px' : type.toLowerCase() == 'edit' }"
                    class="border-0" *ngIf="main_node == 'departments' || main_node == 'portions'">
                    <label *ngIf="type.toLowerCase() == 'edit'" class="col-md-3 required label-control padding-top-5px"
                      for="dept_name">Is Default?</label>
                    <ui-switch [ngClass]="{'col-md-9' : type.toLowerCase() == 'edit' }" class="float-left"
                      formControlName="is_default" ></ui-switch>
                  </div>
                  <div class="col-md-2 border-0" *ngIf="type.toLowerCase() == 'add'">
                    <div class="btn-group btn-group-justified btn-group-raised btn-round float-right">
                      <a (click)="addRow()" href="javascript:void(0)" class="btn btn-round btn-primary"><i
                          class="fa fa-plus"></i></a>
                      <a *ngIf="i != 0" (click)="removeRow(i)" href="javascript:void(0)"
                        class="btn btn-round btn-danger"><i class="ft-minus"></i></a>
                    </div>
                  </div>

                </div>
              </div>
            </div>




            <!-- <div class="form-group form-actions fa-pull-left border-0 col-sm-3">
              <button type="button" class="btn btn-raised btn-primary mr-2 customWidth" (click)="onSubmit()">
                <i class="fa fa-check-square-o"></i> Save
              </button>
              <button type="button" class="btn btn-raised btn-warning mr-2 customWidth" (click)="onCancel()">
                <i class="ft-x"></i> Cancel
              </button> -->

            <div class="form-group row form-actions fa-pull-left border-0">
              
                <button type="button" class="btn btn-raised btn-primary mr-2 btn-w-150px border-0" (click)="onSubmit()">
                  <i class="fa fa-check-square-o"></i> Save
                </button>
              
              
                <button type="button" class="btn btn-raised btn-warning mr-1 btn-w-150px border-0" (click)="onCancel()">
                  <i class="ft-x"></i> Cancel
                </button>


                <span class="w-100 below-save-btn">Ctrl+s for Save</span>
                <span class="w-100 below-save-btn">Ctrl+x for Cancel</span>


            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>