.padding-top-5px{
    padding-top: 5px !important
}

.padding-top-10px{
    padding-top: 10px !important
}

.padding-left-right-zero{
    padding-left: 0 !important;
    padding-right: 0 !important;
}


.customWidth{
    width: 90px !important;
}
.btn-w-150px{
    width: 150px;
}

.form-item-each label{
    text-align: left !important;
}

.below-save-btn {
    font-size: 10px;
    line-height: 12px;
    color: rgba(0, 0, 0, 0.87);

}