
<img  *ngIf="loader" [src]="utility.getLoadingImage()"> 

<div class="row text-left justify-content-md-center" *ngIf="!loader">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-header pb-2">
      </div>
      <div class="card-content">
        <div class="px-3">
          <form [formGroup]="aForm" class="form form-horizontal form-bordered">
            <div class="form-body">
              
             <h4 class="form-section"><i class="ng-tns-c1-0 ft-server"></i> Cuisines</h4>
              <div class="form-group row border-0">
                
                <div class="col-lg-12 pb-0" formArrayName="_cuisines" *ngFor="let cui of formData.controls; let i = index">
                    <div class="custom-control custom-checkbox">
                        <input [formControlName]="i" type="checkbox" class="custom-control-input" id="defaultUnchecked-{{i}}">
                        <label class="custom-control-label" for="defaultUnchecked-{{i}}">{{cuisines[i].cuisine_name}}</label>
                    </div>
                </div>

              </div> 

              
            </div>

            <div class="form-actions fa-pull-left border-0">
                <button type="button" class="btn btn-raised btn-primary btn-block" (click)="onSubmit()">
                <i class="fa fa-check-square-o"></i> Save
              </button>
              <span class="w-100 below-save-btn">Ctrl+s for Save</span>
            
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>