/* You can add global styles to this file, and also import other style files */
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.c-footer-padding{
    padding: 0 0;
}

.edtable-form-control {
    font-size: 2rem;
    line-height: 2rem;
    background: transparent;
    width: 100%;
    border: unset;
    color: white;
}

.transparent-toggle{
    background: transparent;
}

.bold{
    font-weight: bold;
}

.tnc-content{
    max-height: 50vh;
    overflow: scroll;
}