<!--Footer Starts-->
<footer>
    <div class="container-fluid">
        <p class="copyright text-center">
                Copyright &copy; {{currentDate | date: 'yyyy'}} <a id="pixinventLink" target="_blank"
                    href="https://www.pikdish.com/">PIKDISH</a>, All rights reserved.
        </p>
        
    </div>
</footer>
<!--Footer Ends-->